*.background: #212529
*.foreground: #f8f9fa
*.cursorColor:

*.color0:  #212529
*.color1:  #ff6b6b
*.color2:  #ffec99
*.color3:  #ffec99
*.color4:  #f8f9fa
*.color5:  #22b8cf
*.color6:  #ffe066
*.color7:  #20c997
*.color8:  #212529
*.color9:  #ff6b6b
*.color10: #20c997
*.color11: #ffe066
*.color12: #ffd34b
*.color13: #22b8cf
*.color14: #e9ecef
*.color15: #20c997
