/*ytd-watch, ytd-app, ytd-browse, .ytd-browse, ytd-active-account-header-renderer, ytd-account-settings, .dropdown-content, #header, #page-manager, #guide-renderer, #search-form, #container, .ytp-popup, .ytd-c4-tabbed-header-renderer:not(.banner-visible-area) 
        /*color: #888 !important;*/
    /*    background-color: #ff00ff !important;*/
        /*border-color: #2c2541 !important;*/
    /**/
/*    * 
        color: #888 !important;
    
    a:link, a:visited, a:hover, a:active  color: #6986B2 !important; 
    yt-icon  fill: #888 !important; 
*/
/*search dropdown*/

.gstl_50 {{
	background-color: {background} !important;
}}

.ytd-topbar-logo-renderer, #ytd-logo{{
	fill: {color2} !important;
}}

ytd-iframe-companion-renderer, div#player-ads, div#masthead-ad  {{
	display: none !important;
}}

ytd-thumbnail-overlay-resume-playback-renderer {{
	background-color: {foreground} !important;
}}

.badge-style-type-live-now.ytd-badge-supported-renderer {{
	border-color: {color2} !important;
}}

/*live now text color*/
.badge-style-type-live-now.ytd-badge-supported-renderer {{
	color: {color2} !important;
}}

/*youtube red color replacement*/
paper-button.ytd-subscribe-button-renderer, #progress.ytd-thumbnail-overlay-resume-playback-renderer {{
	background-color: {color2} !important;
}}

.ytd-searchbox {{
	border: none !important;
}}

#video-title{{
	color: {foreground} !important;
}}

ytd-browse {{
	background-color: color({background} whiteness(+61.8%)) !important;
}}

ytd-app, ytd-masthead, #page-manager, #guide-renderer, #search-form, .ytd-mini-guide-renderer, ytd-mini-guide-renderer{{
	background-color: {background} !important;
}}

#country-code {{
	color: {background} !important;
}} 

ytd-watch {{
	
	background-color: #ff00ff !important;

}}
